<section>
<header>
	<a class="link home" href="accueil" >Home</a>
</header>


<article id="about" class="cadre informations">
<header>
<h2> About : </h2>
</header>
<div>
<h3> Accessibility Policy </h3>

<div>
<h4> URL - Links - Navigation </h4>
<p> All pages on the site are called thanks to an evocative name , summarizing their contents. URLs are so simple , logical and talking to the user. Navigation on it is intuitive and does not require special menu. However, a site map is available at: <a href="plan"> site map </a> </p> .

<h4> Responsive Design </h4>
<p> All pages of the site have been designed to adapt as much as possible the different resolutions available on the market. This allows a suitable display all necessary site usage data. </p>

<h4> facilities for reading data </h4>
<p> All forms include "labels" chacuns associated with a field, thus facilitating the readability of forms. It is also possible to navigate between fields by pressing the "tab" key while following the logical order of the form. </p>
<p> All information included in the tables are logically organized thanks to a structure and proper use of " tables " . </p>

<h4> Images </h4>
<p> Very few images are available on the site. This allows a larger display content quickly , especially during limited internet flow . In addition, small icons to visualize more easily and quickly various important information or possible actions on the page. All these icons are associated with a descriptive help understand either directly next to or overview of the item. </p>

<h4> Multilingual </h4>
<p> allow foreign people to navigate serènnement on all pages throughout the site is available in two languages ​​: French and English. </p>

<h4> W3C & WCAG </h4>
<p> When creating the site, everything has been implemented to the extent possible, to meet the recommendations of the W3C and WCAG ( Rules for the Web Content Accessibility Guidelines ) . In addition, all pages of the site have been verified and validated thanks to the W3C HTML5 validator . </p>

<h4> Javascript </h4>
<p> site fully utilizes the capabilities offered by Javascript to the operation of the game Indispensable for a better gaming experience , enabling Javascript is required in the phases of the game , however, to ensure better accessibility more , some pages are available even without javascript , including the home page of the site. </p>


</div>
</div>

<div>
<h3> Browsers </h3>

<div>
<h4> version of Office </h4>
<p> site operation provides optimum use for the following browsers : </p>
<ul>
<li> Chrome (version 25 and later) </li>
<li> Firefox (version 20.0 and later) </li>
<li> Internet Explorer (version 9.0 and later ) </li>
<li> Safari (version 5.1 and later) </li>
<li>Opera (version 20 and later)</li>
</ul>
<p> site has not been tested on other browsers. When creating the site, it was decided to maximize interoperability between different browsers, without choose to use archaic or unconventional methods to simulate this interoperability. Therefore , the use of browsers with older versions as mentioned above may cause a display error or malfunction of certain features . </p>


<h4> Versions Tablets / Phones </h4>
<p> said previously , the site is "responsive ", the display is not specialized for this type of support but is adapted for a full reading of the information . </p>
<p> specific version ( Mobile Application) is being developed thereby optimize the display for these media types. For these platforms, the site has been optimized for the following browsers : </p>
<ul>
<li> Android Browser </li>
<li> IOS Safari </li>
</ul>
</div>
</div>



<div>
<h3> STAFF </h3>
<div>
<h4> Stephane Pecquer - <span> Developer / Webmaster </span> </h4>
<p> stephane.pecqueur@gmail.com </p>
</div>
</div>






</article>


















</section>