<section>	
<header>
	<a class="link home" href="accueil" >Accueil</a>
</header>


<article id="about" class="cadre informations">
	<header>
		<h2>A Propos :</h2>
	</header>
<div>
	<h3>Politique d'accessibilité</h3>

	<div>
		<h4>URL - Liens - Navigation</h4>
		<p>Toutes les pages du site sont appelées grace à un nom évocateur, resumant leurs contenus. Les URL restent donc simples, logiques et parlantes pour l'utilisateur. La navigation quant à elle est intuitive et ne necessite pas de menu particulier. Un plan du site est toutefois disponible à cette adresse : <a href="plan">plan du site</a>.</p>

		<h4>Responsive Design</h4>
		<p>Toutes les pages du site ont été conçu de façon à s'adapter du mieux possible aux différentes résolutions disponibles sur le marché. Ceci permet un affichage convenable de toutes les données nécessaires à l'utilisation du site.</p>

		<h4>Facilités de lecture des informations</h4>
		<p>Tous les formulaires comprennent des "labels" chacuns associés à un champ, facilitant ainsi la lisibilité des formulaires. Il est également possible de naviguer entre les différents champs en appuyant sur la touche "tab" tout en suivant l'ordre logique du formulaire.</p>
		<p>Toutes les informations comprises dans des tableaux sont organisées logiquement grace à une structure et une utilisation conforme des "tableaux".</p>

		<h4>Images</h4>
		<p>Très peu d'images sont disponibles sur le site. Cela permet une plus grande rapidité d'affichage du contenu, notamment lors d'un debit internet limité. De plus, de petits icones permettent de visualiser plus simplement et plus rapidement les différentes informations importantes ou actions possibles sur la page. Toutes ces icones sont associées à un descriptif aidant à la compréhension soit directement à coté soit au survol de l'élément.</p>

		<h4>Multilangue</h4>
		<p>Pour permettre à des personnes étrangère de naviguer serènnement sur toutes les pages, l'ensemble du site est disponible en deux langues : Le français et l'anglais. </p>

		<h4>W3C & WCAG</h4>
		<p>Lors de la creation du site, tout a été mis en oeuvre, dans la mesure du possible, pour respecter les recommandations du consortium W3C et du WCAG (Règles pour l'accessibilité des contenus Web). De plus toutes les pages du site ont été vérifiées et validées grace au validateur W3C en HTML5.</p>

		<h4>Javascript</h4>
		<p>Le site utilise pleinement les capacités offertes par le langage Javascript pour le fonctionnement du jeu. Indispensable pour une meilleure expérience de jeu, l'activation de javascript est donc obligatoire dans les phases de jeu. Néanmoins, pour garantir une meilleure accessibilité au plus grand nombre, certaines pages restent disponibles même sans javascript, notamment la page d'accueil du site. </p>


	</div>	
</div>

<div>
	<h3>Navigateurs</h3>

	<div>
		<h4>Version de Bureau</h4>
		<p>Le fonctionnement du site offre une utilisation optimale pour les navigateurs suivants : </p>
		<ul>
			<li>Chrome (version 25 et suivantes)</li>
			<li>Firefox (version 20.0 et suivantes)</li>
			<li>Internet Explorer (version 9.0 et suivantes)</li>
			<li>Safari (version 5.1 et suivantes)</li>
			<li>Opera (version 20 et suivantes)</li>
		</ul>
		<p>Le site n'a pas été essayé sur les autres navigateurs. Lors de la création du site, il a été décidé de maximiser l'interopérabilité entre les différents navigateurs, sans pour autant choisir d'utiliser des methodes archaiques ou peu conventionnelles afin de simuler cette interopérabilité. De ce fait, l'utilisation de navigateurs avec des versions plus anciennes que citées au dessus peut entrainer une erreur d'affichage ou un disfonctionnement de certaines fonctionnalités. </p>

		
		<h4>Versions Tablettes / Mobiles</h4>
		<p>Comme dit précedemment, le site étant "responsive", l'affichage n'est pas spécialisé pour ce type de support mais reste adapté, permettant une lecture complete des informations.</p>
		<p>Une version spécifique (Application mobile) est en cours de développement ce qui optimisera ainsi l'affichage pour ces types de support. Pour ces plateformes, le site a été optimisé pour les navigateurs suivants :</p>
		<ul>
			<li>Android Browser</li>
			<li>IOS Safari</li>
		</ul>
	</div>	
</div>



<div>
	<h3>Le STAFF</h3>
	<div>
		<h4>Stephane Pecqueur - <span>Developpeur / Webmaster</span></h4>
		<p>stephane.pecqueur@gmail.com</p>
	</div>	
</div>





</article>


















</section>
