<section>	
<header>
	<a class="link home" href="{LINK_ACCUEIL}" >{ACCUEIL}</a>
</header>

<article id="loginForm" class="cadre">
	<header>
		<h2>{TXT_SIGNAL_ABUS} :</h2>
	</header>
<div>
	<form method="POST" action="?page=abus">
		<div id="blockServer">
			<label for="server">{TXT_SERVER} :</label><br/>
			<select id="server" name="server">
				<option selected>Andromede</option>
			</select>
		</div>
		<div id="blockForm">
			<fieldset id="nameForm">
				<legend>{TXT_JOUEUR}</legend>
				<label for="login" class="login">{TXT_USERNAME} :</label>
				<input type="text" class="input" id="login" name="login" value="" placeholder="Enter your Login" required>
			</fieldset>
			<fieldset>
				<legend>{TXT_DATE}</legend>
				<div id="dateForm">
					<label for="datepicker" class="login">{TXT_QUAND_ABUS} :</label>
					<input type="date" class="input" id="datepicker" name="date" value="" placeholder="click to pick a date" required><br/>
				</div>
				<div id="horaireForm">
					<div>
						<label for="heure" class="heure">{TXT_HEURE} :</label>
						<input class="range timeRange" type="range" id="heure" name="heure" value="0" min="0" max="23" step="1"> 
						<input class="input range timeText" type="text" id="heure2" name="heure2" value="0" required>
					</div>
					<div>
						<label for="minute" class="heure">Minute :</label>
						<input class="range timeRange" type="range" id="minute" name="minute" value="0" min="0" max="59" step="1"> 
						<input class="input range timeText" type="text" id="minute2" name="minute2" value="0" required>
					</div>
					<div id="resultHoraire">{TXT_HEURE_ABUS} : <span>00</span>:<span>00</span></div>
				</div>
			</fieldset>
			<fieldset id="blockMessage">
				<legend>Description</legend>
				<label for="message" class="{CLASS_MDP}">{TXT_DESCRIPTION_ABUS} :</label>
				<textarea class="input" id="message" name="message" placeholder="Enter message" required></textarea>
			</fieldset>
		</div>
		<div id="blockBtn">
			<input type="submit" class="btn sendMail" name="sendMail" value="{TXT_SEND}" >
			
		</div>
	</form>
</div>

</article>


  
</section>



