<section>
<header>
	<form method="POST" action="{LINK_ACCUEIL}">
		<p>{NEW_GAME}</p>
		<input type="submit" class="link logout" name="logout" value="{LOGOUT}" >
	</form>
</header>


<article id="createGame" class="cadre">
	<header>
		<h2>{TITRE_INFO_PARTIE} :</h2>
	</header>
	<form method="POST" action="{ACT_FORM2}">
<div>
		<div id="blockPartieName">
			<h3 class="link game">{TITLE_NAME}</h3>
			<label for="login" class="{CLASS_GAME_NAME}">{TITLE_GAME_NAME} :</label>
			<input type="text" class="input" id="login" name="game_name" value="" placeholder="" required>
		</div>


		<div id="blockPartiePwd">
			<h3 class="link mdp">{TITLE_PWD}</h3>
			<input type="checkbox" name="checkPwd">
			<label for="pwd">{TITLE_PWD} :</label>
			<input type="password" class="input" id="pwd" name="pwd" value="" placeholder="" disabled><br/>
		</div>


		<div id="blockPartieOption">
			<h3 class="link param">Options</h3>
			<label for="players">{LAB_MAX_PLAYERS} :</label>
			<select class="input" id="players" name="players">
				{LIST_NB_JOUEURS}
			</select>
			<label for="end">{TITLE_END} :</label>
			<select class="input" id="end" name="end">
				{LIST_FIN}
				<!-- <option value="controlAreas">Control Areas</option> --> <!-- V2+ -->
			</select>
			<p id="endDescr">{END_DESC}</p>
		</div>











</div>


		<div id="blockBtn">
			<input type="submit" class="flashBtn blue" name="createGame" value="{TXT_CREATE}" >
		</div>
	</form>

</article>

<aside>
	<a href="{LINK_PROFIL}" class="btn back">{TXT_BACK}</a>

</aside>







</section>



