<section>	
<header>
	<a class="link back" href="{LINK_PROFIL}" >{BACK}</a>
</header>

<article id="endGame" class="cadre">
	<header>
		<h2>{EQUIPE_WIN} {WON_THE_MATCH}</h2>
	</header>
	<div>

<!-- BEGIN teams -->
   <div class="team">
		<table class="tableau">
			<caption>
				<span class="gauche"><span>{EQUIPE} : </span> <span>{COL_TEAMS} Colonies</span></span>
				<span class="droite">{POSITION}</span>
			</caption>
			<thead>
				<tr>
					<th>{TXT_JOUEURS}</th>
					<th>{TXT_COORDS}</th>
					<th>{TXT_NB_COLONIES}</th>
					<th>Xp</th>
				</tr>
			</thead>
			<tbody>
				{DETAILS_JOUEURS}
			</tbody>
		</table>

</div>

<!-- END teams -->    







</div>
</article>


  
</section>



