<section>	

<article id="loginForm" class="cadre">
	<header>
		<h2>{TITLE_FORGOT_PWD} ?</h2>
	</header>
<div>
	<form method="POST" action="{FORGOT_PWD}">
		<div id="blockServer">
			<label for="server">{TITLE_SERVER} :</label><br/>
			<select id="server" name="server">
				<option selected>Andromède</option>
			</select>
		</div>
		<div id="blockLogin">
			<label for="login" class="{CLASS_LOGIN}">{TITLE_USER_NAME} :</label>
			<input type="text" class="input" id="login" name="login" value="{USER_NAME}" placeholder="Enter your Login" required><br/>
			<label for="email" class="{CLASS_EMAIL}">{TITLE_USER_EMAIL} :</label>
			<input type="email" class="input" id="email" name="email" value="{EMAIL}" placeholder="Enter your Email" required>
		</div>
		<div id="blockBtn" class="forgot_pwd">
			<input type="submit" class="btn sendMail" name="sendMail" value="{BTN_SEND_PWD}" >
			<a class="btn back" href="{LINK_ACCUEIL}" >{BTN_BACK}</a>
		</div>
	</form>
</div>

</article>










  <article id="explications">

  <p>{PARAGRAPHE}</p>



  </article>
</section>



