<section>
<header>
	<form method="POST" action="{LINK_GAME}">
		<button type="submit" name="quitGame" ><span class="minB logout"></span><span class="txt">{TXT_QUIT_GAME}</span></button>
	</form>




	<div id="ore">
		<div><span class="link ore">{TXT_ORE} : </span></div>
		<span>{STOCK_ORE}</span>
		<span> / </span>
		<span>{MAX_ORE}</span>
	</div>
	<div id="organic">
		<div><span class="link organic">{TXT_ORGANIC} : </span></div>
		<span>{STOCK_ORGANIC}</span>
		<span> / </span>
		<span>{MAX_ORGANIC}</span>
	</div>
	<div id="energy">
		<div><span class="link energy">{TXT_ENERGY} : </span></div>
		<span>{STOCK_ENERY}</span>
		<span> / </span>
		<span>{MAX_ENERY}</span>
	</div>
</header>


<article id="game" class="cadre">
	<header>
		<div id="ends">
			<span>{TXT_TIME_LEFT} : </span>
			<span>{TIME_LEFT}</span>
		</div>
		<ul class="menu">
			<li class="btn currentGames" data-info="Planet">{TXT_PLANET}</li>
			<li class="btn map" data-info="Map">{TXT_MAP}</li>
			<li class="btn reports" data-info="Reports">{TXT_REPORTS}</li>
			<li class="btn alliances" data-info="Alliance">Alliance</li>
		</ul>
	</header>
	<form method="POST" action="{LINK_GAME}">


{ONGLET_PLANET}
{ONGLET_MAP}
{ONGLET_REPORTS}
{ONGLET_ALLIANCE}






		<div id="footerGame">
			<div class="infoJoueur">
				<div class="team"><span>{TXT_TEAM} : </span><span>{TEAM}</span></div>
				<div class="coords"><span>{TXT_COORDS} : </span><span>{COORDS}</span></div>
			</div>
			<h3>{TXT_INFOS_PLAYER} : </h3>
			<ul>
				<li><div><div class="link unit1">{TXT_UNIT1}</div></div><span>{UNIT1}</span></li>
				<li><div><div class="link unit2">{TXT_UNIT2}</div></div><span>{UNIT2}</span></li>
				<li><div><div class="link unit3">{TXT_UNIT3}</div></div><span>{UNIT3}</span></li>
			</ul>
			<ul class="bat menu">
				<li><div><div class="link qg" data-info="QG">{TXT_QG}</div></div><span>{QG}</span></li>
				<li><div><div class="link units" data-info="SP">{TXT_SP}</div></div><span>{SP}</span></li>
				<li><div><div class="link resources" data-info="Res">{TXT_RES}</div></div><span>{RES}</span></li>
				<li><div><div class="link research" data-info="RC">{TXT_RS}</div></div><span>{RS}</span></li>
				<li><div><div class="link defense" data-info="DC">{TXT_DC}</div></div><span>{DC}</span></li>
				<li><div><div class="link warehouse" data-info="WH">{TXT_WH}</div></div><span>{WH}</span></li>
			</ul>










		</div>



	</form>

</article>









</section>



