<section>
<header>
	<a class="link home" href="{LINK_ACCUEIL}" >{ACCUEIL}</a>
</header>


<article id="InscriptForm" class="cadre">
	<header>
		<h2>{TITRE_INSCRIPTION} :</h2>
	</header>
	<form method="POST" action="{LINK_ENV_MAIL}" enctype="multipart/form-data">
<div>
		<div id="blockServer">
			<label for="server">{TITRE_SERVER} :</label>
			<select id="server" name="server">
				<option selected>Andromede</option>
			</select>
		</div>

		<div id="blockLogin">
			<h3 class="link profil">{TITRE_LOGIN}</h3>
			<label for="login" class="{CLASS_LOGIN}">{TITRE_USER_NAME} :</label>
			<input type="text" class="input" id="login" name="login" value="{USER_NAME}" placeholder="Enter your Login" required>
		</div>


		<div id="blockMdp">
			<h3 class="link mdp">{TITRE_PWD}</h3>
			<label for="pwd" class="{CLASS_MDP}">{TITRE_PWD} :</label>
			<input type="password" class="input" id="pwd" name="pwd" value="{PWD}" placeholder="Enter your Password" required><br/>
			<label for="confirm" class="{CLASS_MDP}">{TITRE_CONFIRM_PWD} :</label>
			<input type="password" class="input" id="confirm" name="confirm" value="{CONFIRM_PWD}" placeholder="Confirm your Password" required>
			<div id="titreSecu">{TITRE_SECU_PWD} : </div>
			<div id="nivSecu"></div>
			<div id="levSecu">{NIVEAU_SECU_PWD}</div>
		</div>


		<div id="blockEmail">
			<h3 class="link email">Email</h3>
			<label for="email" class="{CLASS_EMAIL}">Email :</label>
			<input type="email" class="input" id="email" name="email" value="{EMAIL}" placeholder="Enter your Email" required>
		</div>


		<div id="blockAvatar">
			<h3 class="link profil">Avatar</h3>
			<div><img src="{SRC_AVATAR}" alt="avatar"></div>
			<label for="avatar">{TITRE_CHANGE_AVATAR} :</label>
			<div class="file"><input type="file" id="avatar" name="avatar" accept="image/*"><input type="hidden" name="MAX_FILE_SIZE" value="8000000"></div> 
			<p>* {TXT_TAILLE_IMG} : 200 x 200 px</p>
		</div>









</div>


		<div id="blockBtn">
			<input type="submit" class="flashBtn blue" name="createLog" value="{BTN_CREATE}" >
		</div>
	</form>

</article>









</section>



