<section>
<header>
	<form method="POST" action="{LINK_ACCUEIL}">
		<p>{TITRE_JOIN_GAME}</p>
		<input type="submit" class="link logout" name="logout" value="{BTN_LOGOUT}" >
	</form>
</header>


<article id="joinGame" class="cadre">
	<header>
		<h2>{TITRE_JOIN_GAME} :</h2>
	</header>
	<form method="POST" action="{LINK_JOIN}">
<div>
		<div id="blockSearch">
			<label for="search">{TITRE_SEARCH} :</label>
			<input type="text" class="input" id="search" name="search" value="{SEARCH}" placeholder="Name of game" required>
			<input type="hidden" id="search_hdn" name="search_hdn" value="{SEARCH_HDN}">
			<input type="hidden" id="mdp_hdn" name="mdp_hdn" value="{MDP_HDN}">
		</div>


		<div id="blockBtn">
			<input type="submit" class="flashBtn blue" name="joinGame" value="{BTN_JOIN}" >
		</div>


		<div id="blockPartieEnAttente">
			<table class="tableau">
			<thead>
				<tr>
					<th>{TITRE_PROTECTED}</th>
					<th>{TITRE_GAME_NAME}</th>
					<th>{TITRE_GAME_PLAYERS}</th>
					<th>{TITRE_GAME_CREATOR}</th>
				</tr>
				</thead>
				<tbody>
<!-- BEGIN parties_en_attente -->
					<tr data-info="{ID_GAME}">
						<td>{PROTECTED}</td>
						<td>{GAME_NAME}</td>
						<td>{GAME_PLAYERS}</td>
						<td>{GAME_CREATOR}</td>
					</tr>

<!-- END parties_en_attente -->    
				</tbody>

			</table>

		</div>











</div>


	</form>

</article>

<aside>
	<a href="{LINK_PROFIL}" class="btn back">{BTN_BACK}</a>

</aside>







</section>



