<section>	
<header>
	<a class="link home" href="{URL_ACCUEIL}" >{ACCUEIL}</a>
</header>


<article id="plan" class="cadre">
	<header>
		<h2>{PLAN} :</h2>
	</header>
<div>
	<ul>
		<li>
			<h3><span class="min currentGames"></span><span>{TOUT_PUBLIC}</span></h3>
			<ul>
				<li><h4><a href="{URL_ACCUEIL}"><span class="minB home"></span><span>{ACCUEIL}</span></a></h4></li>
				<li><h4><a href="{URL_INSCRIPT}"><span class="minB param"></span><span>{INSCRIPT}</span></a></h4></li>
				<li><h4><a href="{URL_FORGOT_PWD}"><span class="minB mdp"></span><span>{FORGOT_PWD}</span></a></h4></li>
			</ul>
		</li>
		<li>
			<h3><span class="min profil"></span><span>{MEMBERS}</span></h3>
			<p>({INFO_SUP})</p>
			<ul>
				<li><h4><a href="{URL_PROFIL}"><span class="minB profil"></span><span>{PROFIL}</span></a></h4></li>
				<li><h4><a href="{URL_CREATE}"><span class="minB valid"></span><span>{CREATE}</span></a></h4></li>
				<li><h4><a href="{URL_JOIN}"><span class="minB update"></span><span>{JOIN}</span></a></h4></li>
			</ul>
		</li>
		<li>
			<h3><span class="min history"></span><span>{OTHER_PAGES}</span></h3>
			<ul>
				<li><h4><a href="{URL_ABOUT}"><span class="minB alliances"></span><span>{ABOUT}</span></a></h4></li>
				<li><h4><a href="{URL_PLAN}"><span class="minB map"></span><span>{PLAN}</span></a></h4></li>
				<li><h4><a href="{URL_INFO}"><span class="minB param"></span><span>{INFO}</span></a></h4></li>
				<li><h4><a href="{URL_ABUS}"><span class="minB sendMail"></span><span>{ABUS}</span></a></h4></li>
				<li><h4><a href="{URL_BUG}"><span class="minB reports"></span><span>{BUG}</span></a></h4></li>
			</ul>
		</li>
	</ul>
</div>

</article>















</section>
