<section>
<header>
	<form method="POST" action="{LINK_ACCUEIL}">
		<p>{BONJOUR_JOUEUR}</p>
		<input type="submit" class="link logout" name="logout" value="{BTN_LOGOUT}" >
	</form>
</header>

<article id="partie" class="cadre">
	<header>
		<ul class="menu">
			<li class="btn ranking" data-info="Ranking">{TXT_RANKING}</li>
			<li class="btn currentGames" data-info="CurrentGames">{TXT_CURRENT_GAME}</li>
			<li class="btn history" data-info="History">{TXT_HISTORY}</li>
		</ul>
	</header>
		<div>
			<div id="blockInfoServer" class="cadre">
				<p><span>{TITRE_SERVER} :</span> <span>Andromede</span></p>
				<p>{TODAY}</p>
			</div>


			<div id="ongletRanking" class="tableProfil">
				<table class="tableau">
					<tr>
						<th>{TITRE_RANKING_POS}</th>
						<th>{TITRE_RANKING_PLAYER}</th>
						<th>{TITRE_RANKING_XP}</th>
					</tr>

<!-- BEGIN ranking -->
					<tr {RANKING_SELECTED}>
						<td>{RANKING_POS}</td>
						<td>{RANKING_PLAYER}</td>
						<td>{RANKING_XP}</td>
					</tr>

<!-- END ranking -->    


				</table>				

			</div>

			<div id="ongletCurrentGames" class="tableProfil">
				<table class="tableau">
					<tr>
						<th></th>
						<th>{TITRE_CURRENT_G_NAME}</th>
						<th>{TITRE_CURRENT_G_NB_PLAYERS}</th>
					</tr>

<!-- BEGIN current_games -->
					<tr>
						<td>{CURRENT_COUNTER}</td>
						<td>{CURRENT_G_NAME}</td>
						<td>{CURRENT_G_NB_PLAYERS}</td>
					</tr>

<!-- END current_games -->    

				</table>				

			</div>

			<div id="ongletHistory" class="tableProfil">
				<table class="tableau">
					<tr>
						<th></th>
						<th>{TITRE_HISTORY_NAME}</th>
						<th>{TITRE_HISTORY_STATUT}</th>
						<th>{TITRE_HISTORY_DATE}</th>
					</tr>

<!-- BEGIN history -->
					<tr>
						<td>{HISTORY_COUNTER}</td>
						<td>{HISTORY_NAME}</td>
						<td class="{HISTORY_CLASS_STATUT}">{HISTORY_STATUT}</td>
						<td>{HISTORY_DATE}</td>
					</tr>

<!-- END history -->    
				</table>				

			</div>

			<div id="blockBtn">
				<a href="{LINK_CREATE}" class="flashBtn blue" >{NEW_GAME}</a>
				<a href="{LINK_JOIN}" class="flashBtn blue" >{JOIN_GAME}</a>
			</div>

			<div id="blockXp">
				<p>Xp :</p>
				<p>{XP}</p>
				<p>Lvl :</p>
				<p>{LVL}</p>
			</div>









		</div>



</article>




<article id="modifProfil" class="cadre">
	<header>
		<ul class="menu">
			<li class="btn profil" data-info="Avatar">{TXT_AVATAR}</li>
			<li class="btn mdp" data-info="Password">{TXT_PWD}</li>
			<li class="btn email" data-info="Email">{TXT_EMAIL}</li>
		</ul>
	</header>
	<form method="POST" action="{LINK_PROFIL}" enctype="multipart/form-data">
		<div>
			<div id="ongletAvatar" class="OptionProfil">
				<label for="avatar">{LAB_CHANGE_AVATAR} :</label>
				<div><img src="{SRC_AVATAR}" alt="avatar"></div>
				<div class="file"><input type="file" id="avatar" name="avatar" accept="image/*"><input type="hidden" name="MAX_FILE_SIZE" value="8000000"></div> 
				<p>* {TXT_OUTPUT} : 200 x 200 px</p>
			</div>


			<div id="ongletPassword" class="OptionProfil">
				<label for="pwdOld">{LAB_OLD_PWD} :</label>
				<input type="password" class="input" id="pwdOld" name="pwdOld" value="{OLD_PWD}" ><br/>
				<label for="pwdNew">{LAB_NEW_PWD} :</label>
				<input type="password" class="input" id="pwdNew" name="pwdNew" value="{NEW_PWD}" ><br/>
				<label for="confirmPwd">{LAB_CONFIRM} :</label>
				<input type="password" class="input" id="confirmPwd" name="confirmPwd" value="{CONFIRM_PWD}" >
			</div>


			<div id="ongletEmail" class="OptionProfil">
				<label for="EmailOld">{LAB_OLD_EMAIL} :</label>
				<input type="email" class="input" id="EmailOld" name="EmailOld" value="{OLD_EMAIL}" ><br/>
				<label for="EmailNew">{LAB_NEW_EMAIL} :</label>
				<input type="email" class="input" id="EmailNew" name="EmailNew" value="{NEW_EMAIL}" ><br/>
				<label for="confirmEmail">{LAB_CONFIRM} :</label>
				<input type="email" class="input" id="confirmEmail" name="confirmEmail" value="{CONFIRM_EMAIL}" >
			</div>








			<div id="blockBtn2">
				<input type="submit" class="btn update" name="update" value="{TXT_UPDATE}" >
			</div>


		</div>


	</form>

</article>








</section>



