		<!-- BATIMENT -->
			<div id="onglet{ONGLET_BAT}" class="batiments">
				<h2><span><span class="link {BAT_ICON}">{TITLE_BAT}</span></span><span>Lvl {BAT_NIV}</span></h2>
				<div class="actions menu">
				<h3>Actions : </h3>
<!-- BEGIN actions -->
					<div class="act {ICON_ACTION}" data-info="{DATA_ACTION}">
						<div class="infobulle">{TYPE_ACTION}</div>
					</div>

<!-- END actions -->    


				</div>
				
				<div class="description">
				<h3>Description : </h3>
					<div class="descrpText">
						<p>{BAT_DESCRIPTION}</p>
					</div>

				</div>
				

				<div class="detailActions">


{ACTIONS}



				</div>

					
				


		</div>








