				<!-- ACTION ORE -->
					<div id="ongletOre" class="actionsRes">
						<h2><span><span class="link ore">{TXT_ORE}</span></span><span>Lvl {ORE_LVL}</span></h2>
						<div class="blockAction">


							<div class="stockTotal">
								<h3>Stock :</h3>
								<div><span>{ORE_QTE}</span> / <span>{ORE_MAX}</span></div>
							</div>

							<div class="production">
								<table>
									<thead>
										<tr>
											<th></th>
											<th><span>Production</span></th>
											<th><span>{TXT_NEXT_LVL}</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{TXT_EXPLOITATION}</td>
											<td>{ORE_EXPLOITATION_PROD}</td>
											<td>{ORE_EXPLOITATION_NEXT}</td>
										</tr>
										<tr>
											<td>Bonus</td>
											<td>{ORE_BONUS_PROD}</td>
											<td>{ORE_BONUS_NEXT}</td>
										</tr>
										<tr>
											<td>TOTAL</td>
											<td>{ORE_TOTAL_PROD}</td>
											<td>{ORE_TOTAL_NEXT}</td>
										</tr>
									</tbody>
								</table>
							</div>



							<div class="nextLvl">
								<h3>{TXT_NEXT_LVL} :</h3>
								<span>{ORE_NEXT_LVL}</span>
							</div>

							<div class="btnCreatUnit">
								<input type="submit" class="btn update" name="upgradeRes1" value="{TXT_UPGRADE}">
							</div>

							<div class="costUnit">
								<h3>{TXT_COST} :</h3>
								<div><span class="min ore">{TXT_ORE}</span><span>{ORE_COST_ORE}</span></div>
								<div><span class="min organic">{TXT_ORGANIC}</span><span>{ORE_COST_ORGANIC}</span></div>
								<div><span class="min energy">{TXT_ENERGY}</span><span>{ORE_COST_ENERGY}</span></div>
								<div><span class="min time">{TXT_NEC_TIME}</span><span>{ORE_COST_NEC_TIME}</span></div>
							</div>





						</div>
					</div>









				<!-- ACTION ORGANIC -->
					<div id="ongletOrganic" class="actionsRes">
						<h2><span><span class="link organic">{TXT_ORGANIC}</span></span><span>Lvl {ORGANIC_LVL}</span></h2>
						<div class="blockAction">


							<div class="stockTotal">
								<h3>Stock :</h3>
								<div><span>{ORGANIC_QTE}</span> / <span>{ORGANIC_MAX}</span></div>
							</div>

							<div class="production">
								<table>
									<thead>
										<tr>
											<th></th>
											<th><span>Production</span></th>
											<th><span>{TXT_NEXT_LVL}</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{TXT_EXPLOITATION}</td>
											<td>{ORGANIC_EXPLOITATION_PROD}</td>
											<td>{ORGANIC_EXPLOITATION_NEXT}</td>
										</tr>
										<tr>
											<td>Bonus</td>
											<td>{ORGANIC_BONUS_PROD}</td>
											<td>{ORGANIC_BONUS_NEXT}</td>
										</tr>
										<tr>
											<td>TOTAL</td>
											<td>{ORGANIC_TOTAL_PROD}</td>
											<td>{ORGANIC_TOTAL_NEXT}</td>
										</tr>
									</tbody>
								</table>
							</div>



							<div class="nextLvl">
								<h3>{TXT_NEXT_LVL} :</h3>
								<span>{ORGANIC_NEXT_LVL}</span>
							</div>

							<div class="btnCreatUnit">
								<input type="submit" class="btn update" name="upgradeRes2" value="{TXT_UPGRADE}">
							</div>

							<div class="costUnit">
								<h3>{TXT_COST} :</h3>
								<div><span class="min ore">{TXT_ORE}</span><span>{ORGANIC_COST_ORE}</span></div>
								<div><span class="min organic">{TXT_ORGANIC}</span><span>{ORGANIC_COST_ORGANIC}</span></div>
								<div><span class="min energy">{TXT_ENERGY}</span><span>{ORGANIC_COST_ENERGY}</span></div>
								<div><span class="min time">{TXT_NEC_TIME}</span><span>{ORGANIC_COST_NEC_TIME}</span></div>
							</div>





						</div>
					</div>









				<!-- ACTION ENERGY -->
					<div id="ongletEnergy" class="actionsRes">
						<h2><span><span class="link energy">{TXT_ENERGY}</span></span><span>Lvl {ENERGY_LVL}</span></h2>
						<div class="blockAction">


							<div class="stockTotal">
								<h3>Stock :</h3>
								<div><span>{ENERGY_QTE}</span> / <span>{ENERGY_MAX}</span></div>
							</div>

							<div class="production">
								<table>
									<thead>
										<tr>
											<th></th>
											<th><span>Production</span></th>
											<th><span>{TXT_NEXT_LVL}</span></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{TXT_EXPLOITATION}</td>
											<td>{ENERGY_EXPLOITATION_PROD}</td>
											<td>{ENERGY_EXPLOITATION_NEXT}</td>
										</tr>
										<tr>
											<td>Bonus</td>
											<td>{ENERGY_BONUS_PROD}</td>
											<td>{ENERGY_BONUS_NEXT}</td>
										</tr>
										<tr>
											<td>TOTAL</td>
											<td>{ENERGY_TOTAL_PROD}</td>
											<td>{ENERGY_TOTAL_NEXT}</td>
										</tr>
									</tbody>
								</table>
							</div>



							<div class="nextLvl">
								<h3>{TXT_NEXT_LVL} :</h3>
								<span>{ENERGY_NEXT_LVL}</span>
							</div>

							<div class="btnCreatUnit">
								<input type="submit" class="btn update" name="upgradeRes3" value="{TXT_UPGRADE}">
							</div>

							<div class="costUnit">
								<h3>{TXT_COST} :</h3>
								<div><span class="min ore">{TXT_ORE}</span><span>{ENERGY_COST_ORE}</span></div>
								<div><span class="min organic">{TXT_ORGANIC}</span><span>{ENERGY_COST_ORGANIC}</span></div>
								<div><span class="min energy">{TXT_ENERGY}</span><span>{ENERGY_COST_ENERGY}</span></div>
								<div><span class="min time">{TXT_NEC_TIME}</span><span>{ENERGY_COST_NEC_TIME}</span></div>
							</div>





						</div>
					</div>











				<!-- ONGLET UPGRADE RES -->
					<div id="ongletUpgradeRes" class="actionsRes">
					<div class="upgradeOnglet">
						<h2><span><span class="link upgrade">{TXT_UP_BUILD}</span></span></h2>
						<div class="blockDescript">
							<h3>Decription : </h3>
							<p>{TXT_DESCR_BUILD}</p>
						</div>

						<div class="blockAction">
							<div><h3>{TXT_NEXT_LVL} :</h3><span>{UPGRADE_RES_NEXT_LVL}</span></div>
							<div><h3>{TXT_NEC_TIME} :</h3><span>{UPGRADE_RES_NEC_TIME}</span></div>
							<div>
								<h3>{TXT_COST_CONSTR} :</h3>
								<div><span class="min ore">{TXT_ORE}</span><span>{UPGRADE_RES_COST_ORE}</span></div>
								<div><span class="min organic">{TXT_ORGANIC}</span><span>{UPGRADE_RES_COST_ORGANIC}</span></div>
								<div><span class="min energy">{TXT_ENERGY}</span><span>{UPGRADE_RES_COST_ENERGY}</span></div>
							</div>

							<div>
								<h3>{TXT_BONUS} :</h3>
								<div><span class="min ore">{TXT_ORE}</span> : <span>Lvl {UPGRADE_RES_BONUS_LVL_ORE}</span></div>
								<div><span class="min organic">{TXT_ORGANIC}</span> : <span>Lvl {UPGRADE_RES_BONUS_LVL_ORGANIC}</span></div>
								<div><span class="min energy">{TXT_ENERGY}</span> : <span>Lvl {UPGRADE_RES_BONUS_LVL_ENERGY}</span></div>
								
							</div>

							<div>
								<input type="submit" class="btn upgrade" name="upgradeRes" value="{TXT_UPGRADE}">
							</div>


						</div>
					</div>
					</div>




