				<!-- ONGLET UPGRADE Warehouse -->
					<div id="ongletUpgradeWH" class="actionsRes">
					<div class="upgradeOnglet">
						<h2><span><span class="link upgrade">{TXT_UP_BUILD}</span></span></h2>
						<div class="blockDescript">
							<h3>Decription : </h3>
							<p>{TXT_DESCR_BUILD}</p>
						</div>

						<div class="blockAction">
							<div><h3>{TXT_NEXT_LVL} :</h3><span>{UPGRADE_WH_NEXT_LVL}</span></div>
							<div><h3>{TXT_NEC_TIME} :</h3><span>{UPGRADE_WH_NEC_TIME}</span></div>
							<div>
								<h3>{TXT_COST_CONSTR} :</h3>
								<div><span class="min ore">{TXT_ORE}</span><span>{UPGRADE_WH_COST_ORE}</span></div>
								<div><span class="min organic">{TXT_ORGANIC}</span><span>{UPGRADE_WH_COST_ORGANIC}</span></div>
								<div><span class="min energy">{TXT_ENERGY}</span><span>{UPGRADE_WH_COST_ENERGY}</span></div>
							</div>

							<div>
								<h3>{TXT_BONUS} :</h3>
								<div><span class="min warehouse">Stock Max</span> : <span class="win">{UPGRADE_WH_BONUS_STOCK_MAX}</span></div>
								
							</div>

							<div>
								<input type="submit" class="btn upgrade" name="upgradeWH" value="{TXT_UPGRADE}">
							</div>


						</div>
					</div>
					</div>















