<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WotG | Rejoindre une partie</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/styleProfil.css">
    <link rel="stylesheet" type="text/css" href="../../css/profil/joinGame.css">
    <link rel="stylesheet" type="text/css" href="../../css/resize.css">
    <link rel="stylesheet" type="text/css" href="../../css/resize/joinGame.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/style.js"></script>
    <script type="text/javascript" src="../../js/joinGame.js"></script>
  </head>
  <body>
<header><h1>Warriors Of The Galaxy</h1></header>
<section>
<header>
	<form method="POST" action="test">
		<p>Join Game</p>
		<input type="submit" class="link logout" name="signIn" value="Logout" >
	</form>
</header>


<article id="joinGame" class="cadre">
	<header>
		<h2>Rejoindre une Partie :</h2>
	</header>
	<form method="POST" action="test">
<div>
		<div id="blockSearch">
			<label for="search">Search :</label>
			<input type="text" class="input" id="search" name="search" value="" placeholder="Name of game" required>
		</div>


		<div id="blockBtn">
			<input type="submit" class="flashBtn blue" name="joinGame" value="Join" >
		</div>


		<div id="blockPartieEnAttente">
			<table class="tableau">
				<tr>
					<th>Pwd</th>
					<th>Name</th>
					<th>Players</th>
					<th>Creater</th>
				</tr>

				<tr>
					<td><div class="link mdp" title="protected"></div></td>
					<td>Partie 1 créée par joueur 1</td>
					<td>10/16</td>
					<td>Joueur 1</td>
				</tr>

				<tr>
					<td><div class="link empty1"></div></td>
					<td>Partie 2 créée par joueur 2</td>
					<td>2/8</td>
					<td>Joueur 2</td>
				</tr>

				<tr>
					<td><div class="link empty1"></div></td>
					<td>Partie 2 créée par joueur 2</td>
					<td>2/8</td>
					<td>Joueur 2</td>
				</tr>

				<tr>
					<td><div class="link mdp" title="protected"></div></td>
					<td>Partie 1 créée par joueur 1</td>
					<td>10/16</td>
					<td>Joueur 1</td>
				</tr>

				<tr>
					<td><div class="link empty1"></div></td>
					<td>Partie 2 créée par joueur 2</td>
					<td>2/8</td>
					<td>Joueur 2</td>
				</tr>

			</table>

		</div>











</div>


	</form>

</article>

<aside>
	<a href="profil.html" class="btn back">Back</a>

</aside>







</section>



<footer>
	<img src="../../images/logo.png" alt="Logo de Stephane Pecqueur">
	<ul id="infos_liens">
		<li>About Us</li>
		<li>Contact</li>
		<li>Legal Informations</li>
		<li>Screenshots</li>
	</ul>
	
	<ul id="signal">
		<li>Signaler un Abus</li>
		<li>Signaler un Bug</li>
	</ul>
	
	
</footer>

  </body>
</html>
