<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WotG | Profil</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/styleProfil.css">
    <link rel="stylesheet" type="text/css" href="../../css/profil/profil.css">
    <link rel="stylesheet" type="text/css" href="../../css/resize.css">
    <link rel="stylesheet" type="text/css" href="../../css/resize/profil.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/style.js"></script>
    <script type="text/javascript" src="../../js/profil.js"></script>
  </head>
  <body>
<header><h1>Warriors Of The Galaxy</h1></header>
<section>
<header>
	<form method="POST" action="test">
		<p>Hello Joueur 1</p>
		<input type="submit" class="link logout" name="signIn" value="Logout" >
	</form>
</header>

<article id="partie" class="cadre">
	<header>
		<ul class="menu">
			<li class="btn ranking" data="Ranking">Ranking</li>
			<li class="btn currentGames" data="CurrentGames">Current Games</li>
			<li class="btn history" data="History">History</li>
		</ul>
	</header>
	<form method="POST" action="test">
		<div>
			<div id="blockInfoServer" class="cadre">
				<p><span>Server :</span> <span>Andromede</span></p>
				<p>4th Feb 2014 - 7:45AM</p>
			</div>


			<div id="ongletRanking" class="tableProfil">
				<table class="tableau">
					<tr>
						<th>Pos</th>
						<th>Joueur</th>
						<th>Expérience</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Joueur2</td>
						<td>2 012 230 546</td>
					</tr>
					<tr class="selected">
						<td>2</td>
						<td>Joueur1</td>
						<td>2 012 230 546</td>
					</tr>
					<tr>
						<td>3</td>
						<td>JoueurX</td>
						<td>2 012 230 546</td>
					</tr>
				</table>				

			</div>

			<div id="ongletCurrentGames" class="tableProfil">
				<table class="tableau">
					<tr>
						<th></th>
						<th>Nom</th>
						<th>Nb Joueurs</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Game 1</td>
						<td>16 players</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Game 2 </td>
						<td>8 players</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Game 3</td>
						<td>16 players</td>
					</tr>
				</table>				

			</div>

			<div id="ongletHistory" class="tableProfil">
				<table class="tableau">
					<tr>
						<th></th>
						<th>Nom</th>
						<th>Statut</th>
						<th>Date</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Game 1</td>
						<td class="win">win</td>
						<td>15th Feb 2014</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Game 2 </td>
						<td class="loose">loose</td>
						<td>14th Feb 2014</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Game 3</td>
						<td class="win">win</td>
						<td>10th Feb 2014</td>
					</tr>
				</table>				

			</div>

			<div id="blockBtn">
				<a href="createGame.html" class="flashBtn blue" >New Game</a>
				<a href="createGame.html" class="flashBtn blue" >Join</a>
			</div>

			<div id="blockXp">
				<p>Xp :</p>
				<p>2 012 230 546</p>
				<p>Lvl :</p>
				<p>21</p>
			</div>









		</div>


	</form>

</article>




<article id="modifProfil" class="cadre">
	<header>
		<ul class="menu">
			<li class="btn profil" data="Avatar">Avatar</li>
			<li class="btn mdp" data="Password">Password</li>
			<li class="btn email" data="Email">Email</li>
		</ul>
	</header>
	<form method="POST" action="test">
		<div>
			<div id="ongletAvatar" class="OptionProfil">
				<label for="avatar">Change Avatar :</label>
				<div><img src="../../images/avatarDefault.png" alt="avatar"></div>
				<div class="file"><input type="file" id="avatar" name="avatar" value="" placeholder="Choise a image"></div> 
				<p>* Output Size : 200 200 px</p>
			</div>


			<div id="ongletPassword" class="OptionProfil">
				<label for="pwdOld">Old Password :</label>
				<input type="password" class="input" id="pwdOld" name="pwdOld" value="" required><br/>
				<label for="pwdNew">New Password :</label>
				<input type="password" class="input" id="pwdNew" name="pwdNew" value="" required><br/>
				<label for="confirmPwd">Confirm :</label>
				<input type="password" class="input" id="confirmPwd" name="confirmPwd" value="" required>
			</div>


			<div id="ongletEmail" class="OptionProfil">
				<label for="EmailOld">Old Email :</label>
				<input type="email" class="input" id="EmailOld" name="EmailOld" value="" required><br/>
				<label for="EmailNew">New Email :</label>
				<input type="email" class="input" id="EmailNew" name="EmailNew" value="" required><br/>
				<label for="confirmEmail">Confirm :</label>
				<input type="email" class="input" id="confirmEmail" name="confirmEmail" value="" required>
			</div>








			<div id="blockBtn2">
				<input type="submit" class="btn update" name="update" value="Update" >
			</div>


		</div>


	</form>

</article>








</section>



<footer>
	<img src="../../images/logo.png" alt="Logo de Stephane Pecqueur">
	<ul id="infos_liens">
		<li>About Us</li>
		<li>Contact</li>
		<li>Legal Informations</li>
		<li>Screenshots</li>
	</ul>
	
	<ul id="signal">
		<li>Signaler un Abus</li>
		<li>Signaler un Bug</li>
	</ul>
	
	
</footer>

  </body>
</html>
