	<!-- ONGLET Alliance -->
	<div id="ongletAlliance" class="vues">

			<div id="ongletChat" class="alliance">
				<div>
					<textarea class="input" name="message" placeholder="Enter message"></textarea>
					<input class="btn sendMail" type="submit" name="sendMess" value="{TXT_SEND}">
				</div>
				<div id="AllianceMessages">
					<table class="tableau">
						<tr>
							<th>{ALL_MESS_TH_HEURE}</th>
							<th>{ALL_MESS_TH_JOUEUR}</th>
							<th>{ALL_MESS_TH_MESSAGE}</th>
						</tr>

<!-- BEGIN allianceMessages -->
						<tr>
							<td>{ALL_MESS_HEURE}</td>
							<td><div>{ALL_MESS_JOUEUR} : </div><div>({ALL_MESS_TEAM})</div></td>
							<td>{ALL_MESS_MESSAGE}</td>
						</tr>

<!-- END allianceMessages -->    

					</table>				
				</div>
			</div>


			<div id="ongletInfo" class="alliance">
				<div id="descrGame">
					<h3>Description :</h3>
					<div>
						<div id="blockName">
							<div class="link game">{TXT_NAME}</div>
							<p><span>{GAME_NAME}</span></p>
						</div>

						<div id="blockOpt">
							<div class="link param">Options</div>
							<p>{TXT_NB_PLAYERS} : <span>{GAME_NB_PLAYERS}</span></p>
							<p>{TXT_END} : <span>{GAME_END}</span></p>
						</div>
						
					</div>
				</div>
				<div>
					<h3>{TXT_PLAYERS}</h3>
					<div id="infoJoueursGame">
						<table class="tableau">
							<tr>
								<th><span class="min profil">{TXT_PLAYER}</span></th>
								<th><span class="min alliances">{TXT_TEAM}</span></th>
								<th><span class="blue">X</span></th>
								<th><span class="blue">Y</span></th>
								<th><span class="min colon">Colonies</span></th>
							</tr>
<!-- BEGIN joueurGame -->
							<tr>
								<td>{PLAYER_NAME}</td>
								<td>{PLAYER_TEAM}</td>
								<td>{PLAYER_X}</td>
								<td>{PLAYER_Y}</td>
								<td>{PLAYER_COLONIES}</td>
							</tr>

<!-- END joueurGame -->    

						</table>	
					</div>			
				</div>
			</div>

			<!-- ONGLET Rapport d'alliance -->
			<div id="ongletAllReports" class="alliance">

				<div>
					<h3>{TXT_ATT_REPORTS} :</h3>
				</div>

				<div id="AllianceRep" class="tabAllReports">
					<table class="tableau">
						<tr>
							<th><span class="blue">{ALL_MESS_TH_JOUEUR}</span></th>
							<th><span class="min profil">{TXT_ALLI_PLAYER}</span></th>
							<th><span class="blue">X</span></th>
							<th><span class="blue">Y</span></th>
							<th><span class="min profil">{TXT_ENMY_PLAYER}</span></th>
							<th><span class="min alliances">{TXT_TEAM}</span></th>
							<th><span class="blue">X</span></th>
							<th><span class="blue">Y</span></th>
						</tr>
<!-- BEGIN allianceReports -->
						<tr class="{ALL_REP_VICTORY}" data-info="{ALL_REP_ID}">
							<td>{ALL_REP_HOUR}</td>
							<td>{ALL_REP_ATT}</td>
							<td>{ALL_REP_ATT_X}</td>
							<td>{ALL_REP_ATT_Y}</td>
							<td>{ALL_REP_DEF}</td>
							<td>{ALL_REP_TEAM}</td>
							<td>{ALL_REP_DEF_X}</td>
							<td>{ALL_REP_DEF_Y}</td>
						</tr>

<!-- END allianceReports -->    

					</table>				
				</div>

				<div>
					<h3>{TXT_RAPPORT_DE} <span class="blue">{REPORT_TIME}</span> :</h3>
				</div>

				<div id="AllianceReport" class="tabReport">
					<div>
						<h4>{REPORT_ATT}</h4>
							<table class="tableau">
								<tr>
									<th><span class="min units">Type</span></th>
									<th>{TXT_UNITS}</th>
									<th>{TXT_REST}</th>
								</tr>
								<tr>
									<td><span class="min unit1">{TXT_UNIT1}</span></td>
									<td>{REPORT_ATT_UNIT1_DEB}</td>
									<td>{REPORT_ATT_UNIT1_RES}</td>
								</tr>
								<tr>
									<td><span class="min unit2">{TXT_UNIT2}</span></td>
									<td>{REPORT_ATT_UNIT2_DEB}</td>
									<td>{REPORT_ATT_UNIT2_RES}</td>
								</tr>
								<tr>
									<td><span class="min unit3">{TXT_UNIT3}</span></td>
									<td>{REPORT_ATT_UNIT3_DEB}</td>
									<td>{REPORT_ATT_UNIT3_RES}</td>
								</tr>
							</table>
							<p class="{REPORT_CLASS_ATT_RESULT}">{REPORT_ATT_RESULT}</p>				
							<table class="tableau">
								<tr>
									<th><span class="min resources">Type</span></th>
									<th>{TXT_RESOURCES}</th>
								</tr>
								<tr>
									<td><span class="min ore">{TXT_ORE}</span></td>
									<td class="{REPORT_CLASS_ATT_RESULT}">{REPORT_ORE}</td>
								</tr>
								<tr>
									<td><span class="min organic">{TXT_ORGANIC}</span></td>
									<td class="{REPORT_CLASS_ATT_RESULT}">{REPORT_ORGANIC}</td>
								</tr>
								<tr>
									<td><span class="min energy">{TXT_ENERGY}</span></td>
									<td class="{REPORT_CLASS_ATT_RESULT}">{REPORT_ENERGY}</td>
								</tr>
							</table>
					</div>
					<div>
						<h4>{REPORT_DEF}</h4>
							<table class="tableau">
								<tr>
									<th><span class="min units">Type</span></th>
									<th>{TXT_UNITS}</th>
									<th>{TXT_REST}</th>
								</tr>
								<tr>
									<td><span class="min unit1">{TXT_UNIT1}</span></td>
									<td>{REPORT_DEF_UNIT1_DEB}</td>
									<td>{REPORT_DEF_UNIT1_RES}</td>
								</tr>
								<tr>
									<td><span class="min unit2">{TXT_UNIT2}</span></td>
									<td>{REPORT_DEF_UNIT2_DEB}</td>
									<td>{REPORT_DEF_UNIT2_RES}</td>
								</tr>
								<tr>
									<td><span class="min unit3">{TXT_UNIT3}</span></td>
									<td>{REPORT_DEF_UNIT3_DEB}</td>
									<td>{REPORT_DEF_UNIT3_RES}</td>
								</tr>
							</table>
							<p class="{REPORT_CLASS_DEF_RESULT}">{REPORT_DEF_RESULT}</p>				
							<table class="tableau">
								<tr>
									<th><span class="min resources">Type</span></th>
									<th>{TXT_RESOURCES}</th>
								</tr>
								<tr>
									<td><span class="min ore">{TXT_ORE}</span></td>
									<td class="{REPORT_CLASS_DEF_RESULT}">{REPORT_ORE}</td>
								</tr>
								<tr>
									<td><span class="min organic">{TXT_ORGANIC}</span></td>
									<td class="{REPORT_CLASS_DEF_RESULT}">{REPORT_ORGANIC}</td>
								</tr>
								<tr>
									<td><span class="min energy">{TXT_ENERGY}</span></td>
									<td class="{REPORT_CLASS_DEF_RESULT}">{REPORT_ENERGY}</td>
								</tr>
							</table>
					</div>
				</div>






			</div> <!-- Fin onglet ALLIANCE REPORTS -->


		<ul class="menu">
			<li class="btn chat" data-info="Chat">Chat</li>
			<li class="btn game" data-info="Info">{TXT_GAME_INFO}</li>
			<li class="btn reports" data-info="AllReports">{TXT_ALLI_REP}</li>
		</ul>


	</div> <!-- Fin onglet ALLIANCE -->







