	<!-- Onglet Planet -->
	<div id="ongletPlanet" class="vues">
		<div id="batiments">

{BATIMENTS}


		</div>

		<div id="myPlanet">
			<div class="imgPlanet menu">
				<img src="{IMG_PLANET}" alt="{IMG_PLANET_ALT}">
				<div class="link qg" data-info="QG"><span class="infobulle">{TXT_QG}</span></div>
				<div class="link units" data-info="SP"><span class="infobulle">{TXT_SP}</span></div>
				<div class="link resources" data-info="Res"><span class="infobulle">{TXT_RES}</span></div>
				<div class="link warehouse" data-info="WH"><span class="infobulle">{TXT_WH}</span></div>
				<div class="link research" data-info="RC"><span class="infobulle">{TXT_RC}</span></div>
				<div class="link defense" data-info="DC"><span class="infobulle">{TXT_DC}</span></div>
			</div>
			<div class="infoPlanet">
				<div class="coords"><span>{TXT_COORDS} : </span><span>{COORDS}</span></div>
				<div class="bat menu">
					<div>
						<div><span class="link qg" data-info="QG">{TXT_QG}</span></div>
						<div><span>Lvl {QG}</span></div>
					</div>
					<div>
						<div><span class="link units" data-info="SP">{TXT_SP}</span></div>
						<div><span>Lvl {SP}</span></div>
					</div>
					<div>
						<div><span class="link resources" data-info="Res">{TXT_RES}</span></div>
						<div><span>Lvl {RES}</span></div>
					</div>
					<div>
						<div><span class="link warehouse" data-info="WH">{TXT_WH}</span></div>
						<div><span>Lvl {WH}</span></div>
					</div>
					<div>
						<div><span class="link research" data-info="RC">{TXT_RC}</span></div>
						<div><span>Lvl {RC}</span></div>
					</div>
					<div>
						<div><span class="link defense" data-info="DC">{TXT_DC}</span></div>
						<div><span>Lvl {DC}</span></div>
					</div>
				</div>
			</div>


		</div>
	</div> <!-- Fin ONGLET PLANET -->	

