	<!-- ONGLET MAP -->
	<div id="ongletMap" class="vues">
		<div id="map">
			<div class="infoMap">
				<h3>Information :</h3>
				<p>X : <span>1</span> - Y : <span>1</span></p>
				<p>{TXT_PLAYER} : <span>1</span></p>
				<p>{TXT_TEAM} : <span>1</span></p>
				<p>{TXT_TYPE} : <span>Colony</span></p>
		  	</div>

			<div class="tabMap">
				<div class="rowMap">
					{MAP_ENTETE}
				</div>

<!-- BEGIN carte -->
				<div class="rowMap">
					<div class="cellMap header">{COLONNE}</div>
					<div class="cellMap" data-info="1-{COLONNE}">{INFO_1}</div>
					<div class="cellMap" data-info="2-{COLONNE}">{INFO_2}</div>
					<div class="cellMap" data-info="3-{COLONNE}">{INFO_3}</div>
					<div class="cellMap" data-info="4-{COLONNE}">{INFO_4}</div>
					<div class="cellMap" data-info="5-{COLONNE}">{INFO_5}</div>
					<div class="cellMap" data-info="6-{COLONNE}">{INFO_6}</div>
					<div class="cellMap" data-info="7-{COLONNE}">{INFO_7}</div>
					<div class="cellMap" data-info="8-{COLONNE}">{INFO_8}</div>
					<div class="cellMap" data-info="9-{COLONNE}">{INFO_9}</div>
					<div class="cellMap" data-info="10-{COLONNE}">{INFO_10}</div>
					<div class="cellMap" data-info="11-{COLONNE}">{INFO_11}</div>
					<div class="cellMap" data-info="12-{COLONNE}">{INFO_12}</div>
					<div class="cellMap" data-info="13-{COLONNE}">{INFO_13}</div>
					<div class="cellMap" data-info="14-{COLONNE}">{INFO_14}</div>
					<div class="cellMap" data-info="15-{COLONNE}">{INFO_15}</div>
				</div>


<!-- END carte -->    


			</div>
		</div>



		<!-- Coté droit MAP -->
		<div id="actionMap">
			<div id="actionAtt">
				<div>
					<div>
						<h3>{TXT_COORD}</h3>
						<div><input class="input" type="text" name="actionMapX" value="{COORD_X}"> : <input class="input" type="text" name="actionMapY" value="{COORD_Y}"></div>
					</div>
					<div>
						<h3>Action : </h3>
						<div>
							<select class="input" name="actionMapAtt">
								<option value="att" selected>{TXT_ATT}</option>
								<option value="sup" disabled>{TXT_SUPPORT}</option>
								<option value="tra" disabled>{TXT_TRANS}</option>
							</select>
						</div>
					</div>
					<div>
						<h3>{TXT_TEAM} : </h3>
						<div>
							<select class="input" name="actionMapTeam">
<!-- BEGIN team -->
								<option value="{TEAM_NB}" {SELECTED}>{TXT_TEAM} {TEAM_NB}</option>
<!-- END team -->    
							</select>
						</div>
					</div>
				</div>


				<div>
					<div>
						<h3>{TXT_TIME} : </h3>
						<div> - </div>
					</div>
					<div>
						<h3>{TXT_CAPACITY} : </h3>
						<div>0</div>
					</div>
					<div>
						<div><input class="btn update" type="submit" name="actionMapLaunch" value="{TXT_LAUNCH}"></div>
					</div>
				</div>
			</div>

			<div id="currentAct">
				<h3>{TXT_CUR_ATT} :</h3>
				<div>
<!-- BEGIN currentAttacks -->
					<div class="progressBar" data-info="{CUR_ATT_EVO_PERCENT}" {CUR_ATT_DATA_TYPE}><div class="progressType">{CUR_ATT_INFO_GAUCHE}</div><span class="progressTime">{CUR_ATT_INFO_DROITE}</span></div>
<!-- END currentAttacks -->    
				</div>
				
			</div>


		</div>


		<div id="teamView">
			<h3>{TXT_AVAIL_UNITS} :</h3>
			<div id="availableUnits">
					<div><span class="min unit1">{TXT_UNIT1}</span> <span>{UNIT1_DISPO}</span></div>
					<div><span class="min unit2">{TXT_UNIT2}</span> <span>{UNIT2_DISPO}</span></div>
					<div><span class="min unit3">{TXT_UNIT3}</span> <span>{UNIT3_DISPO}</span></div>
			</div>

			<h3>{TXT_TEAMS} :</h3>
			<div id="tabTeam">
				<table class="tableau">
					<thead>
						<tr>
							<th>{TXT_TEAM}</th>
							<th>{TXT_UNITS}</th>
							<th>{TXT_COORD}</th>
							<th>{TXT_ORDERS}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
<!-- BEGIN teamsVisuel -->
						<tr>
							<td>{TEAM_NB}</td>
							<td>					
								<div class="fighters"><span class="min unit1">{TEAM_UNIT1}</span> <span>{TEAM_UNIT1_QTY}</span></div>
								<div class="bombers"><span class="min unit2">{TEAM_UNIT2}</span> <span>{TEAM_UNIT2_QTY}</span></div>
								<div class="cruisers"><span class="min unit3">{TEAM_UNIT3}</span> <span>{TEAM_UNIT3_QTY}</span></div>
							</td>
							<td>X : <span>{TEAM_X}</span> - Y : <span>{TEAM_Y}</span></td>
							<td>{TEAM_PROGRESS}</td>
							<td>{TEAM_BACK}</td>
						</tr>
					
<!-- END teamsVisuel --> 
					</tbody>
  
				</table>	
			</div>	
		</div>



	</div> <!-- Fin onglet MAP -->






