<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WotG | Accueil</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/styleAccueil.css">
    <link rel="stylesheet" type="text/css" href="../../css/accueil/accueil.css">
    <link rel="stylesheet" type="text/css" href="../../css/resize.css">
    <link rel="stylesheet" type="text/css" href="../../css/resize/accueil.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/style.js"></script>
  </head>
  <body>
<header><h1>Warriors Of The Galaxy</h1></header>
<section>	

<article id="loginForm" class="cadre">
	<header>
		<h2>Login to your acount :</h2>
	</header>
<div>
	<form method="POST" action="test">
		<div id="blockServer">
			<label for="server">Server :</label><br/>
			<select id="server" name="server">
				<option selected>Andromède</option>
			</select>
		</div>
		<div id="blockLogin">
			<label for="login">User Name :</label>
			<input type="text" class="input" id="login" name="login" value="" placeholder="Enter your Login" required><br/>
			<label for="pwd">Password :</label>
			<input type="password" class="input" id="pwd" name="pwd" value="" placeholder="Enter your Password" required>
		</div>
		<div id="blockBtn">
			<input type="submit" class="btn signIn" name="signIn" value="Sign In" >
			<a href="" class="btn signUp">Sign Up</a>
			<a href="" class="btn">Forgot your Password ?</a>
		</div>
	</form>
</div>

</article>










  <article id="explications">

  <p>
  	Warriors of the Galaxy est un jeu en ligne et multijoueur sur le thème de l'espace et de la conquète spaciale. C'est un jeu sur navigateur, developpé en PHP et JavaScript. Il ne nécessite donc aucune installation.
  	</p>
  	<p>
Le but est d'améliorer sa planète, conquérir des territoires et les defendre face à vos adversaires. Pour cela, vous devrez vous battre en equipe et mettre en place des stratégies d'attaque et de defense.
	</p>
	<p>
Rejoignez-nous et faites évoluer votre avatar au fur et à mesure des parties gagnées. En effet, chaque partie dure entre 1 et 2 heures, et vous permet de débloquer des surprises et gagner de l'expérience.
  </p>



  </article>
</section>



<footer>
	<img src="../../images/logo.png" alt="Logo de Stephane Pecqueur">
	<ul id="infos_liens">
		<li>About Us</li>
		<li>Contact</li>
		<li>Legal Informations</li>
		<li>Screenshots</li>
	</ul>
	
	<ul id="signal">
		<li>Signaler un Abus</li>
		<li>Signaler un Bug</li>
	</ul>
	
	
</footer>

  </body>
</html>
