<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WotG | Confirmation Inscription</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/styleAccueil.css">
    <link rel="stylesheet" type="text/css" href="../../css/accueil/confirmInscript.css">
    <link rel="stylesheet" type="text/css" href="../../css/resize.css">
    <link rel="stylesheet" type="text/css" href="../../css/resize/confirmInscript.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/style.js"></script>
  </head>
  <body>
<header><h1>Warriors Of The Galaxy</h1></header>
<section>	

<article id="loginForm" class="cadre message">
		<p>
		  	Votre compte est maintenant activé. Vous pouvez vous connecter à partir de la page d'accueil.
		</p>
		<a class="btn back" href="../accueil/accueil.html" >Back</a>
</article>

</section>



<footer>
	<img src="../../images/logo.png" alt="Logo de Stephane Pecqueur">
	<ul id="infos_liens">
		<li>About Us</li>
		<li>Contact</li>
		<li>Legal Informations</li>
		<li>Screenshots</li>
	</ul>
	
	<ul id="signal">
		<li>Signaler un Abus</li>
		<li>Signaler un Bug</li>
	</ul>
	
	
</footer>

  </body>
</html>
